* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono Nerd Font;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background: #31748f;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    }

#workspaces button:hover {
    background: #403d52;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb6f92;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#wireplumber,
#tray,
#battery {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces {
    padding: 0 5px;
    margin: 0 5px
}

#window {
   padding: 0 8px;
   }

#workspaces,
#wireplumber,
#tray,
#clock,
#battery,
#window {
    background-color: #191724;
    border: solid 1px #26233a;
    border-radius: 25px;
    color: #e0def4;
    margin: 0 5px;
    }

#clock {
    color: #f6c177;
    }

#window {
    background-color: transparent;
    border: none;
    color: #e0def4;
    }

#wireplumber {
    color: #c4a7e7;
    }

#workspaces {
    color: #eb6f92;
    }

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: transparent;
    color: #eb6f92;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}
